<ion-tabs ngSkipHydration>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/page/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ringtone" href="/page/ringtone">
      <ion-icon aria-hidden="true" name="alarm-outline"></ion-icon>
      <ion-label>Ringtone</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/page/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
