<ion-content>
  <ion-card-header class="relative bg-gray-200 ion-padding">
    <div class="ion-text-center ion-margin-top">
      <div class="profile-container">
        <ion-avatar>
          <img style="text-align: center;" alt="Profile picture " class="profile-pic"
            [src]="userProfile?.photoURL" />
        </ion-avatar>
      </div>
      <h1 class="text-xl font-bold ion-margin-top">{{userProfile?.displayName}}</h1>
      <p class="text-gray-600">{{userProfile?.email}}</p>
    </div>
  </ion-card-header>


  <ion-card-content>
    <ion-list class="rounded-lg shadow-md ion-margin-bottom">
      <ion-item class="ion-activatable" (click)="editProfile()">
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Profile information</ion-label>
      </ion-item>
      <ion-item routerLink="/page/edit-notification">
        <ion-icon name="notifications-outline" slot="start"></ion-icon>
        <ion-label>Notifications</ion-label>
        <ion-note slot="end" color="primary">ON</ion-note>
      </ion-item>
    </ion-list>

    <ion-list class="rounded-lg shadow-md">
      <ion-item>
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        <ion-label>Help & Support</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>Contact us</ion-label>
      </ion-item>
      <ion-item routerLink="/page/edit-policy">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label>Privacy policy</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-footer class="ion-no-border" style="padding: 20px; justify-content: center; display: flex;">
    <ion-button shape="round" color="primary" fill="solid" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-button>
  </ion-footer>
</ion-content>
