<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-xs="12">

        <div class="flex items-center ion-margin-bottom">
          <ion-icon (click)="onCloseModal()" name="arrow-back-outline" size="large"></ion-icon>
          <h1 style="text-align: center;" class="text-1xl font-bold">User Profile</h1>
        </div>


        <ion-list>

          <ion-item>
            <ion-label position="stacked">Name</ion-label>
            <ion-input value="{{userProfile?.displayName}}"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Email verified</ion-label>
            <ion-input [disabled]="true" value="{{userProfile?.emailVerified}}"></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input value="{{userProfile?.email}}" type="email"></ion-input>
          </ion-item>

          <!-- Phone Number -->

          <!-- Country and Genre -->
          <!-- <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Country</ion-label>
                <ion-select placeholder="Select Country">
                  <ion-select-option>United States</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Gender</ion-label>
                <ion-select placeholder="Select gender">
                  <ion-select-option>Male</ion-select-option>
                  <ion-select-option>Female</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row> -->

          <!-- Address -->
          <!-- <ion-item>
            <ion-label position="stacked">Address</ion-label>
            <ion-input value="45 New Avenue, New York"></ion-input>
          </ion-item> -->
        </ion-list>

        <!-- Submit Button -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div style="padding: 20px;">
  <ion-footer class="ion-no-border">
    <ion-toolbar class="ion-no-border">
      <ion-button expand="block" color="primary" (click)="onCloseModal()">
        Kembali
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</div>
