<ion-content>

  <div style="display: flex; justify-content: space-between; padding:0 20px;">
    <ion-title>
      Pengaturan notifikasi
    </ion-title>
    <ion-button color="primary" fill="outline" routerLink="/page/riwayat-ringtone">
      Riwayat
      <ion-icon slot="end" name="time-outline"></ion-icon>
    </ion-button>
  </div>


  <ion-grid class="ion-justify-content-center ion-text-center">
    <ion-card *ngFor="let obat of obatList" class="ion-margin">
      <ion-card-header>
        <ion-item lines="none" class="ion-align-items-start">
          <ion-avatar slot="start">
            <img [src]="obat.file" alt="Obat Image" />
          </ion-avatar>
          <ion-label>
            <h2 class="ion-text-wrap">{{ obat.nama }}</h2>
            <h2 class="ion-text-wrap">{{ obat.jenis }}</h2>
            <p class="ion-text-wrap">{{ obat.aturan }}</p>
            <p class="ion-text-wrap">{{ obat.frekuensi_minum }}</p>
            <p class="ion-text-wrap">{{ obat.dosis_obat }}</p>
          </ion-label>
          <ion-buttons style="background-color: white; border-radius: 9px;" *ngIf="obat.schedule" slot="end">
            <ion-button fill="clear" (click)="checkedNotif(obat.nama)">
              <ion-icon size="large" color="success" name="notifications" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-card-header>

      <div class="bt">
        <ion-button size="small" shape="round" color="secondary" (click)="buatNotifikasi(obat.id)">
          <ion-icon *ngIf="!obat.schedule" slot="start" name="add"></ion-icon>
          <ion-icon *ngIf="obat.schedule" slot="start" name="create-outline"></ion-icon>
          Notifikasi
        </ion-button>
        <ion-button *ngIf="obat?.tanggal" size="small" color="light">
          {{ obat?.tanggal | date: 'HH:mm:ss' }}
        </ion-button>
      </div>



    </ion-card>
  </ion-grid>
</ion-content>
