<ion-content class="ion-padding">
  <div class="flex items-center ion-margin-bottom">
    <ion-icon name="arrow-back-outline" size="large" routerLink="/page/settings"></ion-icon>
    <h1 style="text-align: center;" class="text-1xl font-bold">Privacy and police</h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- Section 1 -->
        <ion-text>
          <h2 class="ion-text-bold ion-margin-bottom">1. Types of Data We Collect</h2>
        </ion-text>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="ion-margin-top">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Section 2 -->
        <ion-text>
          <h2 class="ion-text-bold ion-margin-bottom">2. Use of Your Personal Data</h2>
        </ion-text>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae.
        </p>
        <p class="ion-margin-top">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Section 3 -->
        <ion-text>
          <h2 class="ion-text-bold ion-margin-bottom">3. Disclosure of Your Personal Data</h2>
        </ion-text>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
        </p>
        <p class="ion-margin-top">
          Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
        </p>
        <p class="ion-margin-top">
          Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary" routerLink="/page/settings">
      Kembali
    </ion-button>
  </ion-toolbar>
</ion-footer>
