<ion-content class="ion-padding">
  <div class="flex items-center ion-margin-bottom">
    <ion-icon name="arrow-back-outline" size="large" routerLink="/page/settings"></ion-icon>
    <h1 style="text-align: center;" class="text-1xl font-bold">Privacy and Policy</h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- Section 1 -->
        <ion-text>
          <h2 class="ion-text-bold ion-margin-bottom">1. Types of Data We Collect</h2>
        </ion-text>
        <p>
          Kami mengumpulkan data yang diperlukan untuk memberikan layanan pengingat minum obat, termasuk informasi nama,
          jadwal minum obat, dan preferensi pengaturan notifikasi. Data ini dikumpulkan dengan persetujuan Anda saat
          menggunakan aplikasi.
        </p>
        <p class="ion-margin-top">
          Data tambahan seperti catatan medis atau riwayat penggunaan aplikasi dapat dimasukkan secara opsional oleh
          pengguna untuk meningkatkan fungsionalitas aplikasi.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Section 2 -->
        <ion-text>
          <h2 class="ion-text-bold ion-margin-bottom">2. Use of Your Personal Data</h2>
        </ion-text>
        <p>
          Data pribadi Anda digunakan untuk memastikan bahwa Anda menerima notifikasi pengingat minum obat secara tepat
          waktu sesuai jadwal yang telah Anda tetapkan. Selain itu, data ini juga membantu aplikasi memberikan laporan
          terkait pola minum obat Anda.
        </p>
        <p class="ion-margin-top">
          Kami tidak akan menggunakan data Anda untuk tujuan lain tanpa persetujuan eksplisit dari Anda.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- Section 3 -->
        <ion-text>
          <h2 class="ion-text-bold ion-margin-bottom">3. Disclosure of Your Personal Data</h2>
        </ion-text>
        <p>
          Kami menjaga kerahasiaan data pribadi Anda dan tidak akan membagikannya kepada pihak ketiga tanpa izin Anda.
          Namun, dalam situasi tertentu, kami dapat membagikan data jika diwajibkan oleh hukum atau untuk memenuhi
          kewajiban hukum.
        </p>
        <p class="ion-margin-top">
          Data Anda juga dapat dibagikan kepada penyedia layanan teknologi yang membantu kami dalam menjalankan
          aplikasi, seperti layanan penyimpanan cloud, dengan memastikan bahwa penyedia layanan tersebut memenuhi
          standar keamanan data yang ketat.
        </p>
        <p class="ion-margin-top">
          Jika ada perubahan terkait kebijakan ini, kami akan memberi tahu Anda melalui pembaruan aplikasi atau
          pemberitahuan langsung.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary" routerLink="/page/settings">
      Kembali
    </ion-button>
  </ion-toolbar>
</ion-footer>

