<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detail Obat</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="mt-4">
    <ion-card-header>
      <ion-card-title>{{ selectedObat?.nama }}</ion-card-title>
      <ion-card-subtitle>{{ selectedObat?.jenis }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img *ngIf="selectedObat?.file" [src]="selectedObat?.file" class="img-responsive"></ion-img>
      <p class="mt-3"><strong>Deskripsi:</strong> {{ selectedObat?.deskripsi }}</p>
      <p><strong>Dosis Obat:</strong> {{ selectedObat?.dosis_obat }}</p>
      <p><strong>Frekuensi Minum:</strong> {{ selectedObat?.frekuensi_minum }}</p>
      <p><strong>Aturan Minum:</strong> {{ selectedObat?.aturan_minum }}</p>
    </ion-card-content>
  </ion-card>

</ion-content> -->

<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img alt="A cup of coffee with latte art" src="https://placehold.co/600x400" class="image-full" />
    <ion-card-header>
      <ion-card-title>Caffe Mocha</ion-card-title>
      <ion-card-subtitle>Ice/Hot</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="rating">
        <ion-icon name="star" color="warning"></ion-icon>
        <span class="ml-1 font-semibold">4.8</span>
        <span class="ml-1 text-muted">(230)</span>
      </div>

      <ion-grid class="ion-margin-vertical">
        <ion-row>
          <ion-col size="4">
            <ion-icon class="icon-circle" name="car-outline" color="warning"></ion-icon>
          </ion-col>
          <ion-col size="4">
            <ion-icon class="icon-circle" name="cafe-outline" color="warning"></ion-icon>
          </ion-col>
          <ion-col size="4">
            <ion-icon class="icon-circle" name="book-outline" color="warning"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-divider></ion-divider>

      <h3>Description</h3>
      <p>
        A cappuccino is an approximately 150 ml (5 oz) beverage, with 25 ml of espresso coffee and 85ml of fresh milk
        foam... <span class="text-warning">Read More</span>
      </p>

      <h3 class="ion-margin-top">Size</h3>
      <ion-buttons>
        <ion-button shape="round" size="small" fill="outline">S</ion-button>
        <ion-button shape="round" size="small" color="warning">M</ion-button>
        <ion-button shape="round" size="small" fill="outline">L</ion-button>
      </ion-buttons>

      <div class="ion-margin-top price-section">
        <div>
          <p class="text-muted">Price</p>
          <p class="text-large font-semibold">$ 4.53</p>
        </div>
        <ion-button color="warning" expand="block">Buy Now</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
