<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Gambar Obat -->
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img [alt]="selectedObat?.nama" [src]="selectedObat?.file" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ selectedObat?.nama }}</h2>
        <p>{{ selectedObat?.jenis }}</p>
      </ion-label>
    </ion-item>

    <!-- Divider -->
    <ion-item-divider>
      <ion-label>Description</ion-label>
    </ion-item-divider>

    <!-- Deskripsi -->
    <ion-item lines="none">
      <p>
        {{ selectedObat?.deskripsi }}
      </p>
    </ion-item>

    <!-- Divider Details -->
    <ion-item-divider>
      <ion-label>Details</ion-label>
    </ion-item-divider>

    <!-- Detail Dosis Obat -->
    <ion-item>
      <ion-label>
        <strong>Dosis Obat:</strong>
      </ion-label>
      <ion-note slot="end">{{ selectedObat?.dosis_obat }}</ion-note>
    </ion-item>

    <!-- Detail Aturan Minum -->
    <ion-item>
      <ion-label>
        <strong>Aturan Minum:</strong>
      </ion-label>
      <ion-note slot="end">{{ selectedObat?.aturan_minum }}</ion-note>
    </ion-item>

    <!-- Detail Frekuensi Minum -->
    <ion-item>
      <ion-label>
        <strong>Frekuensi Minum:</strong>
      </ion-label>
      <ion-note slot="end">{{ selectedObat?.frekuensi_minum }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary" (click)="onClose()">Kembali</ion-button>
  </ion-toolbar>
</ion-footer>
