<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCloseModal()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="end">{{ selectedObat?.jenis }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="background-color: #f8f4eb">
  <ion-card style="background-color: rgba(255, 255, 255, 0.7); border-radius: 8px;background: url('/assets/core/1.png') no-repeat center center;
  background-size: cover;">
    <ion-card-content class="ion-text-center">
      <ion-chip color="tertiary" style="font-family: 'Nunito', sans-serif; font-weight: bold;">
        SURVEY
      </ion-chip>
      <p style="color: black; font-family: 'Nunito', sans-serif; font-weight: bold; font-size: 1.6em;">
        {{ questions[currentQuestionIndex].text }}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card-content>
    <ion-segment (ionChange)="onRatingChange($event)" [value]="getResponseValue(currentQuestionIndex)">
      <ion-segment-button *ngFor="let option of questions[currentQuestionIndex]?.options" [value]="option.value">
        <ion-chip fill="solid" [color]="option.color">{{ option.value }}</ion-chip>
      </ion-segment-button>
    </ion-segment>
  </ion-card-content>

  <div style="display: flex;justify-content: space-between;">
    <ion-button fill="clear" (click)="onPrevious()" [disabled]="currentQuestionIndex === 0">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Previous
    </ion-button>
    <ion-button fill="clear" (click)="onNext()" [disabled]="currentQuestionIndex === questions.length - 1">
      Next
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>Ketentuan</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let option of questions[currentQuestionIndex]?.options">
      <ion-label>{{ option.label }}</ion-label>
      <ion-chip slot="end" fill="solid" [color]="option.color">{{ option.value }}</ion-chip>
    </ion-item>
    <ion-item>
      <ion-label>Pilih Kelas</ion-label>
      <ion-select [(ngModel)]="selectedClass" placeholder="Pilih kelas">
        <ion-select-option *ngFor="let kelas of kelasList" [value]="kelas">{{ kelas }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div style="display: flex; justify-content: space-between; padding: 20px;">
      <ion-button fill="solid" color="light" shape="round" (click)="onCloseModal()">
        Batal
      </ion-button>
      <ion-button fill="solid" color="primary" shape="round" (click)="onClickSave()">
        Simpan
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
