<div class="wrapper">
  <div class="liquid">
    <img src="assets/core/sudut2.png" alt="liquid" class="liquid-img" />
  </div>
  <div class="container">
    <h1>Forgot password</h1>
    <p>Type email bellow so you can get message from email</p>
    <ion-input type="text" label="Email" [(ngModel)]="email">
      <ion-input-text-toggle slot="end"></ion-input-text-toggle>
    </ion-input>
    <div class="bt" style="padding: 20px 0; margin-bottom: 5em;">
      <ion-button expand="block" (click)="forgotPassword()">Forgot password</ion-button>
    </div>

    <ion-button fill="clear" routerLink="/login">Back</ion-button>
    <ion-button shape="round" [disabled]="forgotClicked" (click)="checkUpdatePwd()">Login</ion-button>

  </div>
  <div class="liquid2">
    <img src="assets/core/sudut1.png" alt="liquid" class="liquid-img" />
  </div>
</div>
