<!-- <ion-toolbar> -->
  <ion-breadcrumbs class="breadcrumbs-zindex">
    <!-- <ion-breadcrumb
      routerLink="/page/home"
      routerLinkActive="active">
      <ion-icon slot="start" name="home"></ion-icon>
      Home
    </ion-breadcrumb> -->

    <!-- <ion-chip color="tertiary" routerLink="/page/home">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-chip> -->

    <!-- <ion-breadcrumb
      routerLink="/page/ringtone"
      routerLinkActive="active">
      <ion-icon slot="start" name="alarm"></ion-icon>
      Ringtone
    </ion-breadcrumb> -->
<!--
    <ion-chip color="tertiary" routerLink="/page/ringtone">
      <ion-label>Ringtone</ion-label>
      <ion-icon name="alarm"></ion-icon>
    </ion-chip> -->

    <!-- <ion-breadcrumb
      routerLink="/page/settings"
      routerLinkActive="active">
      <ion-icon slot="start" name="settings"></ion-icon>
      Settings
    </ion-breadcrumb> -->

    <ion-chip color="tertiary" routerLink="/page/kuisioner">
      <ion-label>Kuisioner</ion-label>
      <ion-icon name="clipboard"></ion-icon>
    </ion-chip>

      <!-- <ion-breadcrumb
        routerLink="/page/riwayat-ringtone"
        routerLinkActive="active">
        <ion-icon slot="start" name="reader"></ion-icon>
        Laporan
      </ion-breadcrumb> -->


    <ion-chip color="tertiary" routerLink="/page/riwayat-ringtone">
      <ion-label>Laporan</ion-label>
      <ion-icon name="reader"></ion-icon>
    </ion-chip>

    <!-- <ion-breadcrumb
      routerLink="/page/notif"
      routerLinkActive="active">
      <ion-icon slot="start" name="notifications"></ion-icon>
      Notif
    </ion-breadcrumb> -->
  </ion-breadcrumbs>

<!-- </ion-toolbar> -->
