<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1 class="ion-text-uppercase ion-margin-bottom">Create Quick Form</h1>
  </div>

  <form>
    <!-- First Row -->
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Text box one <span class="text-danger">*</span></ion-label>
            <ion-input placeholder="Element Placeholder" required></ion-input>
            <ion-note slot="helper">Some info text goes here.</ion-note>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-item>
            <ion-label position="stacked">Text box two <span class="text-danger">*</span></ion-label>
            <ion-input placeholder="Element Placeholder" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Second Row -->
      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-item>
            <ion-label position="stacked">Text box three</ion-label>
            <ion-input placeholder="Element Placeholder"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="4">
          <ion-item>
            <ion-label position="stacked">Select box one <span class="text-danger">*</span></ion-label>
            <ion-select placeholder="Element Placeholder" required>
              <ion-select-option>Option 1</ion-select-option>
              <ion-select-option>Option 2</ion-select-option>
            </ion-select>
            <ion-note slot="helper">Info text.</ion-note>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="4">
          <ion-item>
            <ion-label position="stacked">Text box four</ion-label>
            <ion-input placeholder="Element Placeholder"></ion-input>
            <ion-note slot="helper">Info text.</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Third Row -->


      <!-- Fourth Row -->
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">File field</ion-label>
            <ion-input placeholder="Element Placeholder"></ion-input>
            <ion-button slot="end" color="light">Browse</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Fifth Row -->
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Text area</ion-label>
            <ion-textarea placeholder="Element Placeholder"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Submit Button -->
      <!-- <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button expand="block" color="primary">BUTTON</ion-button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </form>
</ion-content>
<ion-footer class="ion-no-border" style="padding: 20px;">
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
      <ion-button expand="block" color="primary" fill="outline" (click)="onClickCancel()">Batal</ion-button>
    </ion-col>
    <ion-col size="auto">
      <ion-button expand="block" color="primary" (click)="onClickCancel()">Simpan</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
