<ion-header [translucent]="true">
  <ion-toolbar style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
    <ion-title>
      <strong class="title">{{ pageTitle }}</strong>
      <strong class="line"> | </strong>
      {{ pageInfo }}
    </ion-title>

    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->

    <ion-buttons slot="end" routerLink="/page/settings">
      <ion-chip style="background-color: white;">
        <ion-avatar>
          <img alt="Silhouette of a person's head" [src]="userProfile?.photoURL" />
        </ion-avatar>
        <ion-label>{{userProfile?.displayName}}</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>

  <app-breadcrumbs></app-breadcrumbs>
</ion-header>

<!-- class="ion-no-border" -->
